<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>employe_name</td>
            <td>employe_id</td>
            <td>employe_salary</td>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.employe_name}}</td>
            <td>{{x.employe_id}}</td>
            <td>{{x.employe_salary}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'empform' %}"><button>Add Employe</button></a>
</body>
</html>